<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WormCoolKit</title>
  </head>
   <style>
      .card {
          margin: 10px !important;
          border-radius: 5px;
      }
  </style>
  <body>
    {% extends "template.html" %}
    {% block content %}

  <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Welcome to Worm Cool Kit!</h5>
        <p class="card-text">This site contains bioinformatic tools created and developed in Ronen Zaidel Bar's Lab, for the benefit of the
        field of genetic research in Caenorhabditis elegans.</p>
        <p class="card-text">A prime use of this bioinformatic toolkit is to accelerate the study of human genetic variations that are known
            or suspected to cause disease by modeling them in C. elegans.</p>
        <p class="card-text">Although worms and humans differ greatly in their anatomy and physiology, at the cellular and molecular levels
            they are remarkably similar, and important genes often demonstrate a high degree of evolutionary conservation.</p>
        <p class="card-text">Therefore, the same mutation that causes a disease in humans might cause a problem in the development and/or life
            of a worm.</p>
        <p class="card-text">The tools on this website help to predict which C. elegans gene is the true ortholog of a given human gene
            (or vice versa), help determine whether a particular mutation is in a conserved amino acid, and help design the
            CRISPR-Cas9 strategy to mutate the worm genome in order to model the human variation.</p>
      </div>
  </div>
    <div style="margin-top: 10px" id="home-page">
        <img src="\static\home-page-blank.png" alt="RZBWormCoolKit" style="width:600px;height:500px;"/>
    </div>
    <div class="gap-80"></div>
    <footer>
        <p>&copy; All rights reserved to <a href="https://www.zaidelbarlab.com/">Ronen Zaidel Bar's lab</a>.</p>
        <p>Developed by Liran Avda & Sapir Shemesh of Ronen Zaidel Bar's lab.</p>
    </footer>
    {% endblock %}
  </body>
</html>